.menu {
  position: absolute;
  display: flex;
  top: 0%;
  right: 0%;
  z-index: 100;
  height: 40vh;
  width: 15vw;
  background-color: rgba(0,131,129, .75);
  color: #F0EEE9;
  border-bottom-left-radius: 5px;
  padding-left: 10px;
}

.menu-items {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  justify-content: space-around;
  height: 75%;
  font-size: 1.5em;
}

.menu-items a {
  color: #F0EEE9;
}
