.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80%;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 15px 5px #DDE0E3;
  box-shadow: 2px 2px 15px 5px #DDE0E3;
}

.form-section {
  display: flex;
  align-items: center;
  width: 90%;
}

.form-field {
  display: flex;
  align-items: baseline;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 2em;
  width: 100%;
}

.counter {
  display: flex;
  margin-left: auto;
  width: 100px;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: space-between;
}

.counter-button {
  width: 25px;
  height: auto;
  text-align: center;
  border-radius: 8px;
  background-color: #008381;
  color: #F0EEE9;
  cursor: pointer;
}

.emoji {
  font-size: 2em;
}
